<mat-grid-list class="container" cols="9" rowHeight="3:1" gutterSize="0px">
  <mat-grid-tile colspan="1" rowspan="1">
    <div class="matgridtext">
      {{imageIndex}}
    </div>
  </mat-grid-tile>
  <!--<mat-grid-tile colspan="1" rowspan="1"></mat-grid-tile>-->
  <mat-grid-tile class="piclist" colspan="4" rowspan="1">
    <div class="matgridtext">
      <a href="https://imageclassifierserver-funny-bandicoot.apps.pcf.pcfhost.com/image/{{imageUpload.id}}">{{imageUpload.filename}}</a>
    </div>
  </mat-grid-tile>
  <mat-grid-tile class="piclist" colspan="4" rowspan="1">
    <div class="matgridtext">
      {{imageUpload.description}}
    </div>
  </mat-grid-tile>
  <!--<mat-grid-tile colspan="1" rowspan="1"></mat-grid-tile>-->
</mat-grid-list>
